/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;


@import "tailwind";

$surface-color: #383c4f;

html {
  color-scheme: dark light;

  @include mat.theme((
    color: mat.$red-palette,
    density: 0
  ));

  /* *****************************************************************************************************
                     Theme overrides
  *****************************************************************************************************
  */

  @media (prefers-color-scheme: dark) {
    @include mat.theme-overrides((
      "surface": $surface-color,
    ))
  }

  /* *****************************************************************************************************
                     Component specific overrides
  ***************************************************************************************************** */

  @include mat.card-overrides((
    elevated-container-color: var(--mat-sys-background),
  ));

}

@include mat.toolbar-overrides((
  container-background-color: var(--mat-sys-primary),
  container-text-color: var(--mat-sys-on-primary),
));


